<div class="container">
  <div class="container mt-5">
    <div class="text-center header mb-5">
      <h1 class="text-center display-4">Angular Forms</h1>
    </div>

    <div class="form-body">
      <mat-card class="text-center">
        <h1 class="display-4 text-center mb-3">Register Form</h1>
        <form class="form" [formGroup]="registerForm" (submit)="registerForm()">
          <!-- choosing the role -->
          <label class="mr-3 my-0">Select Your Role: </label>
          <mat-radio-group name="account_type" formControlName="role">
            <mat-radio-button [value]="employee">
              Employee
            </mat-radio-button>
            <mat-radio-button [value]="jobSeeker">
              Job Seeker
            </mat-radio-button>
          </mat-radio-group>
        </form>
      </mat-card>
    </div>
  </div>




</div>